header {
  background: rgba(21, 66, 132, 1);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Sigmar One", sans-serif;
  font-size: 24px;
  color: var(--color-white);
}

.adocao {
  padding: 0 5px;
  color: rgba(248, 197, 17, 1);
}

.pag_link {
  background: rgba(248, 197, 17, 1);
  border-radius: 10px;
  padding: 10px 30px;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
}

.pag_link:hover {
  opacity: 0.8;
}

.pag_link:focus {
  outline: none;
  background-color: rgb(255, 224, 114);
}

.login_link {
  margin-left: auto;
}
.title {
  font-family: var(--font-Radley);
  font-size: 40px;
  text-align: center;
  margin-top: 2rem;
}
.container-cards {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
  .card {
  text-align: center;
  margin-left: 2rem;
  margin-top: 2rem;
} 

.container-cards .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.card-title {
  font-family: var(--font-Radley);
  padding-right: 2rem;
}
.card-text {
  font-family: var(--font-Noto);
}
.card-img-top {
  max-height: 50%;
  margin-bottom: 10px;
  object-fit: contain;
}
.container-cards .btn {
  max-width: 15rem;
  background-color: var(--color-yellow);
  color: var(--color-white);
  font-family: var(--font-Radley);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin: 5px 5px 0 0;
}

.container-cards .btn:hover {
  color: var(--color-white);
  padding: 10px;
  transition: 0.8s;
}
.container-cards .btn:focus {
  /* Muda a cor da sombra quando o botão recebe foco */
  box-shadow: 0 0 10px rgba(3, 6, 158, 0.5);
}

.icon-gender {
  margin-left: 50px;
  height: 24px;
  position: relative;
  top: -30px;
  left: 50px;
}

footer {
  background: rgba(21, 66, 132, 1);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
}

.github_icon {
  margin: 0px 10px;
}
