.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .container_menu {
    display: none;
  }
  .container_menu_mobile {
    max-height: 20rem;
  }

  .nav-item {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
    position: relative;
    left: 15rem;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul {
    position: relative;
    display: flex;
    left: 1rem;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }
  .mobile-menu .login-button {
    display: block;
    position: relative;
    left: 6rem;
  }
  .mobile-menu .login-button a {
    text-decoration: none;
    font-family: var(--font-Radley);
  }
  .open {
    display: block;
  }
}
