.container_modal {
  background-color: var(--color-snow);
  width: 30rem;
  height: 35rem;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5%;
  margin-bottom: 5rem;
  box-shadow: var(--effect-shadow);
}
.container_modal .title {
  font-family: var(--font-Radley);
  font-size: 30px;
  color: var(--color-blue);
}
.container_modal label {
  color: var(--color-white);
}
.container_modal input {
  outline: none;
  width: 15rem;
  border-radius: 5px;
  border: none;
}
.container_modal .image-modal {
  max-width: 150px;
  max-height: 150px;
}

.container_modal .button_modal {
  background-image: var(--effect-radial-gradient);
  color: var(--color-white);
  padding: 0 4rem 0 4rem;
  border: none;
  box-shadow: var(--effect-shadow);
  text-align: center;
  border-radius: 50px;
  font-size: 25px;
  font-family: var(--font-Radley);
}
.container_modal .button_modal:hover {
  font-size: 30px;
  transition: 0.6s;
  background-image: var(--effect-radial-gradient-yellow);
}
.container_modal .link_modal {
  text-decoration: none;
  color: var(--color-white);
}
.container_modal .link_modal:hover {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .container_modal {
    background-color: transparent;
    max-width: 300px;
  }
  .container_modal .title {
    font-family: var(--font-Radley);
    color: var(--color-blue);
  }
}
