.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-center {
  margin: 2rem 0 2rem 0;
}

.blue-box {
  background-color: var(--color-blue);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.blue-box img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.blue-box hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: var(--color-white);
}
