.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 35em;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  margin: 10px auto;
  font-family: var(--font-Noto);
}

#search-input {
  flex: 1;
  padding: 5px;
  font-size: 14px;
  font-family: var(--font-Noto);
  border: none;
  width: 35vw;
  margin-left: 10px;
}

#search-button {
  background-image: url("/static/icon/icon-search.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 15px;
  margin: 10px 5px 10px 5px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  background-color: transparent;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .search-container {
    max-width: 100%;
    padding: 1rem;
  }

  #search-input {
    padding: 5px;
    width: 18rem;
    outline: none;
    font-size: 16px;
  }

  #search-button {
    width: 1rem;
  }
}
