@import "var.css";
.container-box {
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 5px 5px 10px 10px #0000001a;
  width: 650px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.form {
  padding: 5rem;
}
.form p {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}
.form input {
  width: 30rem;
  padding: 0.5em;
  border: none;
  border: solid 2px rgba(128, 128, 128, 0.873);
  border-radius: 5px;
}
.form input:focus {
  outline: none;
  border: solid 2px rgb(30, 9, 162);
  transition: 0.8s;
}
.form select {
  width: 20rem;
}
.btn {
  width: 500px;
  margin-left: 5rem;
  font-size: 30px !important;
  color: #fff !important;
  font-family: "Radley", sans-serif !important;
  margin-bottom: 5rem;
}
.form input[type="checkbox"] {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 35rem;
}
.title_form {
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding:1rem;
  font-family: "Radley",sans-serif;
}
