{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container_modal">
      <h2 class="title">Acesse aqui</h2>
      <br />
      <img
        src="{% static 'img/image-modal.png' %}"
        class="image-modal"
        alt="Avatar mulher com gatinho"
      />
      <br />
      <form action="{% url 'pagina_apos_login' %}" method="POST" id="login-form" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control" id="senha" name="senha">
        </div>
        <button type="submit" class="button_modal">Login</button><br /><br />
      </form>
    </div>

{% endblock %}
