.title {
  margin: 0 auto;
  margin-top: 2rem;
}
.buttons {
  text-align: center;
  margin-top: 3rem;
}
.animal-title {
  margin-bottom: 0.75rem;
}
.btn {
  background-color: var(--color-blue);
  border: none;
}
.btn:hover {
  background-color: var(--color-light-gray);
}
.animal-card {
  background-color: var(--color-bgCard);
  border: 1px solid var(--color-blueLight);
  border-radius: 0.25rem;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
.animal-img {
  width: 200px;
  height: auto;
  border-radius: 50px;
  box-shadow: var(--effect-shadow);
}
.animal-info {
  padding: 1.25rem;
  text-align: left;
  flex-grow: 1;
}

.animal-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
.animal-icons .btn-edit {
  margin-left: 5px;
  font-size: 14px;
  color: var(--color-white);
  cursor: pointer;
  border: none;
  background-color: var(--color-yellow);
  padding: 15px 15px;
  border-radius: 4px;
}
.animal-icons .btn-edit:focus {
  outline: none;
}
.animal-icons .btn-delete {
  margin-left: 5px;
  font-size: 14px;
  color: var(--color-white);
  cursor: pointer;
  border: none;
  background-color: var(--color-red);
  padding: 15px 15px;
  border-radius: 4px;
}
.animal-icons .btn-delete:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .animal-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
