{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid d-flex flex-column justify-content-between min-vh-100">
  <div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <h2>Seja nosso parceiro</h2>
          <p>Olá!</p>
          <p>Estamos super felizes por você estar aqui!</p>
          <p>Você sabia que juntos podemos transformar a vida de muitos animais? Sim, é verdade! E é por isso que estamos buscando amigos como você para se juntar à nossa família de parceiros.</p>
          <p>Se você faz parte de uma ONG de resgate, um abrigo, uma clínica veterinária, uma pet shop ou qualquer empresa que ama animais tanto quanto nós, temos uma proposta: que tal unirmos forças?</p>
          <p>Acreditamos que a colaboração é a chave para criar um mundo onde cada animalzinho tenha um lar cheio de amor e cuidado. E cada gesto conta – seja através de doações, patrocínios, eventos especiais ou simplesmente compartilhando conhecimento e recursos.</p>
          <p>Vamos juntos espalhar a palavra sobre a adoção responsável e garantir dias mais felizes para nossos amigos de quatro patas.</p>
          <p>Se essa ideia aquece seu coração, não hesite! Mande um e-mail para <a href="mailto:squaddorothyvaughan@gmail.com">squaddorothyvaughan@gmail.com</a> e vamos conversar sobre como você pode fazer parte dessa linda jornada.</p>
          <p>Esperamos ansiosamente pelo seu contato!</p>
          <!-- Botão de voltar -->
          <a href="#" onclick="history.back()" class="btn btn-secondary">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}