/* search.css */

.search-container {
  display: flex;
  align-items: center;
  width: 100%; /* Definindo a largura para 100% */
  max-width: 35em; /* Limitando a largura máxima para 35em */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px auto;
  font-family: "Roboto";
}

#search-input {
  flex: 1;
  padding: 5px;
  font-size: 14px;
  font-family: "Roboto";
  border: none;
  width: 35vw;
  margin-left: 10px;
}

#search-button {
  background-image: url("/static/icon/icon-search.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 15px;
  margin: 10px 5px 10px 5px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  background-color: transparent;
}

input:focus {
  outline: none;
}

/* Estilos para telas menores (mobile) */
@media screen and (max-width: 768px) {
  .search-container {
    max-width: 100%; /* Alterando a largura máxima para 100% em telas menores */
  }

  #search-input {
    flex: 1;
    padding: 5px;
    font-size: 14px; /* Reduzindo o tamanho da fonte para telas menores */
  }

  #search-button {
    padding: 5px; /* Reduzindo o padding do botão para telas menores */
    margin: 5px; /* Ajustando a margem do botão para telas menores */
  }
}
