{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <h1 class="title">Lista de Animais</h1>
  <div class="buttons">
    <a href="{% url 'criar_animal' %}" class="btn btn-secondary ml-auto"
      >Cadastrar Animal</a
    >
    <a href="{% url 'logout_view' %}" class="btn btn-primary">Encerrar Sessão</a>
  </div>
</section>

<section>
  {% if mensagem %}
  <div class="alert alert-success" role="alert">{{ mensagem }}</div>
  {% endif %}
  
  <div class="container">
    <ul class="list-unstyled">
      {% for animal in animais %}
      <li class="animal-card mb-4">
        <img
          src="{{ animal.foto.url }}"
          class="animal-img"
          alt="{{ animal.nome }}"
        />
        <div class="animal-info">
          <h5 class="animal-title">{{ animal.nome }}</h5>
          <p><strong>Idade:</strong> {{ animal.idade }}</p>
          <p><strong>Espécie:</strong> {{ animal.get_especie_display }}</p>
          <p><strong>Raça:</strong> {{ animal.raca }}</p>
          <p><strong>Porte:</strong> {{ animal.porte }}</p>
          <p><strong>Sexo:</strong> {{ animal.get_sexo_display }}</p>
          <p>
            <strong>Castrado:</strong> {% if animal.castrado %} Sim {% else %}
            Não {% endif %}
          </p>
          <p>
            <strong>Vacinado:</strong> {% if animal.vacinado %} Sim {% else %}
            Não {% endif %}
          </p>
          <p>
            <strong>Doenças Existente:</strong> {{ animal.doencas_existentes }}
          </p>
          <p>
            <strong>Adotado:</strong> {% if animal.adotado %} Sim {% else %} Não
            {% endif %}
          </p>
          <p><strong>Data de Cadastro:</strong> {{ animal.data }}</p>
          <div class="animal-icons">
            <a href="/editar_animal/{{ animal.id }}">
              <button type="button" class="btn-edit">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </a>
            <form
              id="delete-form-{{ animal.id }}"
              method="POST"
              action="{% url 'excluir_animal' animal.id %}"
            >
              {% csrf_token %}
              <button
                type="button"
                class="btn-delete"
                onclick="confirmDelete('{{ animal.id }}')"
              >
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
